# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto- PART 1

Import the required libraries. Use the **Beautiful Soup** library to scrape and extract the postal codes of the neighborhoods of Toronto from the wikipedia page.

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Get the content of the wikipedia page.

In [3]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html_doc=requests.get(url).text

In [4]:
soup = BeautifulSoup(html_doc, 'lxml')
#print(soup.prettify())

After inspecting the html text we can see that the postal codes are stored in the table class. Use the **find** function of Beautiful Soup to find and extract the table.

In [5]:
#Find the table class that contains all the postal codes
PC_table=soup.find('table')
#print(PC_table.prettify())

Import the html table to a dataframe with pandas. Now the column names appear in the first row of the table. Assign the correct column names and remove the column names from the first row.

In [19]:
df=pd.read_html(str(PC_table))[0]
df.columns = df.iloc[0]
df.drop(df.index[0], inplace=True)
df.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

Remove all the rows from the dataframe where there is no borough assigned.

In [10]:
df = df.drop(df[df['Borough']=='Not assigned'].index)    
df.head(10)

0  Postcode           Borough     Neighbourhood
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Not assigned
11      M9A         Etobicoke  Islington Avenue
12      M1B       Scarborough             Rouge
13      M1B       Scarborough           Malvern

Find the neighborhoods that do not have an assigned name and assign to them the name of the borough.

In [19]:
df['Neighbourhood'][df[df['Neighbourhood']=='Not assigned'].index]=df['Borough'][df[df['Neighbourhood']=='Not assigned'].index]
df.head(10)

0  Postcode           Borough     Neighbourhood
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Queen's Park
11      M9A         Etobicoke  Islington Avenue
12      M1B       Scarborough             Rouge
13      M1B       Scarborough           Malvern

There are a number of postal codes with multiple neighborhoods assigned to them. Group these neighborhoods and display them separated with a "," and reset the index. Rename the column Postcode to Postal Code. 

Now each each row in the dataframe corresponds to one, unique postal code and the corresponding borough with one or more neighborhoods.

In [17]:
separator = lambda a: ",".join(a) 
df_n=df.groupby(by=['Postcode','Borough']).agg({'Neighbourhood':  separator}).reset_index()
df_n = df_n.rename(columns={'Postcode': 'Postal Code'})
df_n.head(10)

  Postal Code      Borough                                  Neighbourhood
0         M1B  Scarborough                                  Rouge,Malvern
1         M1C  Scarborough           Highland Creek,Rouge Hill,Port Union
2         M1E  Scarborough                Guildwood,Morningside,West Hill
3         M1G  Scarborough                                         Woburn
4         M1H  Scarborough                                      Cedarbrae
5         M1J  Scarborough                            Scarborough Village
6         M1K  Scarborough      East Birchmount Park,Ionview,Kennedy Park
7         M1L  Scarborough                  Clairlea,Golden Mile,Oakridge
8         M1M  Scarborough  Cliffcrest,Cliffside,Scarborough Village West
9         M1N  Scarborough                     Birch Cliff,Cliffside West

Display the  number of rows in the dataframe

In [18]:
print('There are {} rows in the dataframe.'.format(df_n.shape[0]))

There are 103 rows in the dataframe.